.avatar-sm {
    width: 2.4375rem;
    height: 2.4375rem;
    font-size: 0.75rem;
    border-radius: 0.2rem;
  }
  .avatar img {
    width: 100%;
    border-radius: 0.25rem;
  }
  
  .avatar.rounded-circle img {
    border-radius: 50%;
  }
  
  .action-btn{
      width: 29px;
      height: 28px;
      border-radius: 9.3552px;
      color: #fff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      flex-shrink: 0;
  }
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .screen.image {
      padding: 5px;
      display: block;
      position: relative;
      cursor: pointer;
      width: 100%;
      margin: auto;
      border-radius: 5px;
      height: auto;
  }
  
  .screen.image img {
      width: 100%;
      width: 100%;
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
      object-fit: cover;
      object-position: top;
      height: 400px;
      transition: 2s all ease;
  }
  
  .screen.image:hover img {
      object-position: bottom;
  }
  
  .colorinput {
      margin: 0;
      position: relative;
      cursor: pointer;
  }
  
  .colorinput-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
  
  .colorinput-color {
      background-color: #fdfdff;
      border-color: #e4e6fc;
      border-width: 1px;
      border-style: solid;
      display: inline-block;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 3px;
      color: #fff;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .colorinput-color:before {
      content: '';
      opacity: 0;
      position: absolute;
      top: .25rem;
      left: .25rem;
      height: 1.25rem;
      width: 1.25rem;
      transition: .3s opacity;
      background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center center/50% 50%;
  }
  
  .colorinput-input:checked~.colorinput-color:before {
      opacity: 1;
  }
  .imagepreview {
      height: 100px;
      width: 100%;
      object-fit: cover;
  }
  .avatar {
    position: relative;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 600;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 0.25rem;
  }
  
  .avatar img {
    width: 100%;
    border-radius: 0.25rem;
  }
  
  .avatar.rounded-circle img {
    border-radius: 50%;
  }
  
  .avatar span {
    background-color: #051C4B;
  }
  
  .avatar + .avatar {
    margin-left: .25rem;
  }
  
  .avatar + .avatar-content {
    display: inline-block;
    margin-left: .75rem;
  }
  
  .avatar-xl {
    width: 6rem;
    height: 6rem;
    font-size: 1.375rem;
  } 
  
  
  .faq .accordion .accordion-item {
      border-radius: 10px;
      overflow: hidden;
      border: none;
      margin-bottom: 10px;
  }
  
  .faq .accordion .accordion-item .accordion-button {
      font-weight: 700 !important;
      padding: 1.3rem 1.25rem;
  }
  
  .faq .accordion .accordion-item .accordion-button span > i {
      font-size: 20px;
      margin-right: 8px;
  }
  
  .faq .accordion .accordion-item .accordion-button:not(.collapsed) {
      border-radius: 10px;
      background: transparent;
      box-shadow: 0 6px 30px rgba(182, 186, 203, 0.3);
  }
  
  .faq .accordion .accordion-item .accordion-body {
      padding: 0.3rem 0.3rem 0.3rem 3rem;
  }
  
  body.application.application-offset {
      font-family: var(--bs-body-font-family) !important;
  }
  
  .switch {
      width: 70px !important;
      height: 10px !important;
  }
  
  label.btn.btn-primary.btn-.switch-on {
      padding: 6px !important;
  }
  label.btn.btn-light.btn-.switch-off {
      padding: 6px !important;
  }z
  .switch-handle {
      padding: 17px;
  }
  
  .ml-2,
  .mx-2 {
    margin-left: 0.5rem !important;
  }
  
  .ml-0{
      margin-left: 0px !important;
  }
  
  /*.preview-height {
      height: auto;
      overflow: scroll;
      max-height: 1500px;
      overflow-x: hidden;
  }
  
  #sticky {
      position: sticky;
      position: -webkit-sticky;
      width: 100%;
      height: 100vh;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  div#appointment-modal {
      position: fixed !important;
  }
  
  body.application.application-offset.sidenav-pinned.ready.modal-open #sticky {
      position: unset !important;
  }
  
  @media only screen and (min-width: 1200px) {
      .edit-page-container {
          max-width: 1600px !important;
      }
  }
  
  .custom-scroll {
      min-height: 400 px !important;
      width: auto;
      overflow-x: auto;
  }*/
  
  
  .hover-none{
      text-decoration: none !important;
      color: white !important;
  }
  
  .textarea-adjust textarea {
      border: none;
      outline: none;
      color: #030303;
      font-weight: normal;
      font-size: 12.79277px;
      display: block;
      vertical-align: middle;
      /* max-width: 196px; */
      width: 100%;
      resize: none;
      /* height: auto !important; */
      max-height: max-content !important;
      min-height: max-content !important;
  }
  
  .textarea-adjust textarea {
      height: 75px;
      line-height: normal;
  }
  
  .input-h4{
      text-align-last: center;
      margin-right: 26px;
  }
  
  .ml-46px{
      margin-left: -2px;
      text-align: center;
  }
  
  .min-393{
      min-height: 393px !important;
  }
  
      
  .rating {
      border: none;
  }
  
  .rating>input {
      display: none;
  }
  
  .rating>label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
  }
  
  .rating>.half:before {
      content: "\f089";
      position: absolute;
  }
  
  .rating>label {
      color: #ddd;
      float: right;
  }
  
  .rating>input:checked~label,
  .rating:not(:checked)>label:hover,
  .rating:not(:checked)>label:hover~label {
      color: #FFD700;
  }
  
  .rating>input:checked+label:hover,
  .rating>input:checked~label:hover,
  .rating>label:hover~input:checked~label,
  .rating>input:checked~label:hover~label {
      color: #FFED85;
  }
  
  .testimonial-ratings{
      justify-content: center;
      display: flex;
  }
  
  ul.uploaded-pics {
      list-style-type: none;
      padding-left: 15px !important;
  }
  
  ul.uploaded-pics li {
      width: 16.40%;
      display: inline-block;
      margin: 5px
  }
  
  ul.uploaded-pics img {
      border: 2px dashed transparent;
  }
  
  ul.uploaded-pics input[type="checkbox"][id^="checkthis"] {
      display: none;
  }
  
  ul.uploaded-pics label {
      padding: 5px;
      display: block;
      position: relative;
      cursor: pointer;
      width: 100%;
      margin: auto;
      border-radius: 5px;
  }
  
  ul.uploaded-pics label:before {
      font-size: 15px;
      background-color: #ffffff;
      color: #0095ff;
      content: "";
      display: block;
      border-radius: 50%;
      border: 1px solid #0095ff;
      position: absolute;
      top: -6px;
      right: -6px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      transition-duration: 0.4s;
      transform: scale(0);
  }
  
  ul.uploaded-pics label img {
      width: 100%;
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
      object-fit: cover;
      object-position: top;
      height: 220px;
      transition: 2s all ease;
  }
  
  ul.uploaded-pics label:hover img {
      object-position: bottom;
  }
  
  ul.uploaded-pics :checked+label:before {
      content: "✓";
      transform: scale(1);
      z-index: 2;
  }
  
  ul.uploaded-pics :checked+label img {
      z-index: -1;
      border: 2px dashed #0095ff;
  }
  
  .pull-right .btn {
      margin-left: 5px;
  }
  
  .screen.image {
      padding: 5px;
      display: block;
      position: relative;
      cursor: pointer;
      width: 100%;
      margin: auto;
      border-radius: 5px;
      height: auto;
  }
  
  .screen.image img {
      width: 100%;
      width: 100%;
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
      object-fit: cover;
      object-position: top;
      height: 400px;
      transition: 2s all ease;
  }
  
  .screen.image:hover img {
      object-position: bottom;
  }
  
  ul.plan-detail div {
      position: relative;
      padding-left: 25px;
      font-size: 14px;
      font-family: 'Montserrat-SemiBold';
      padding-bottom: 10px;
      color: red;
  }
  ul.plan-detail div:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 10px;
      height: 13px;
      background-color: #f00;
      width: 2px;
      transform: rotate(
          45deg
      );
  }
  
  
  ul.plan-detail div:after {
      content: "";
      position: absolute;
      left: 10px;
      height: 13px;
      top: 4px;
      width: 2px;
      background-color: #f00;
      transform: rotate(
          -45deg
      );
  }
  [data-toggle="buttons"]:not(.custom-domain .btn-group-colors) > .btn.active {
      background-color: #134fc9 !important;
      color: #FFF !important;
  }
  .custom-domain .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 13px;
      border-radius: 10px;
  }
  .custom-domain .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-radius: 10px;
  }
  
  
  #sticky {
      position: sticky;
      position: -webkit-sticky;
      width: 100%;
      /* height: 252vh; */
      height: 100%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .preview-height {
      height: auto;
      overflow: scroll;
      max-height: 1500px;
      overflow-x: hidden;
  }
  
  .dash-sidebar .main-logo {
      justify-content: center;
      min-height: 80px;
      max-height: 80px;
      width: 100%;
      min-width: 255px;
  }
  a.b-brand {
      height: 100%;
      width: 100%;
  }
  
  .dash-sidebar .main-logo a img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      width: auto !important;
      height: auto;
      max-width: -webkit-fill-available !important;
      max-height: -webkit-fill-available !important;
      max-width: -moz-available;
      max-height: -moz-available;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
  }
  
  
  .preview-height {
      height: auto;
      overflow: scroll;
      max-height: 1500px;
      overflow-x: hidden;
  }
  
  .custom-domain .btn-group, .btn-group-vertical{
      gap: 2rem;
  }
  
  .custom-domain .btn-group .btn-primary{
      background: transparent;
      color: #000;
  }
  .custom-domain .btn-group .btn-primary.actve{
      background: red;
      color: #000;
  }
  
  
  /* radio tab  */
  
  
  
  input.radio_tab, .content {
      display: none;
      background: #0084aa;
      line-height: 25px;
      padding: 5px 25px;
      color: #fff;
      font: normal 1em/150% Sans-Serif;
      min-width: 200px;
      max-width: 600px;
  }
  #one:checked ~ .one,
  #two:checked ~ .two,
  #three:checked ~ .three {display: block;}
  
  label.radio_tab_label {
      cursor: pointer;
      background: #00a8d8;
      height: 25px;
      padding: 5px 10px;
      display: inline-block;
      text-align: center;
      color: #fff;
      font: normal 1em/150% Sans-Serif;
      margin-right: -3px;
      transition: background .25s linear;  
  }
  
  label.radio_tab_label:hover, input.radio_tab:checked + label.radio_tab_label {background: #0084aa;}
  
  .price-card {
      text-align: center;
      position: relative;
      margin-top: 30px;
  }
  
  .price-card.price-2 {
      color: #fff;
  }
  
  .price-card.price-2 .price-badge {
      color: #fff;
      background: #1c232f;
  }
  
  .price-card .p-price {
      font-size: 40px;
  }
  
  .price-card .price-badge {
      color: #fff;
      padding: 7px 24px;
      border-radius: 30px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .price-card .list-unstyled {
      display: inline-block;
  }
  
  .price-card .list-unstyled li {
      display: flex;
      align-items: center;
  }
  
  .price-card .list-unstyled li + li {
      margin-top: 8px;
  }
  
  .price-card .list-unstyled .theme-avtar {
      display: inline-flex;
      width: 30px;
      height: 30px;
      border-radius: 10px;
      background: #fff;
      margin-right: 15px;
  }
  
  .side-feature {
      overflow: hidden;
  }
  
  .big-logo {
  
      width: 160px;
      height: 45px;
     
  }
  .big-logo1 {
  
      width: 160px;
      height: 45px;
     
  }
  .big-logo2 {
      width: 60px;
      height: 70px;
  }
  .logo-content {
      border-radius: 20px;
      padding: 15px 0px;
  }
  .choose-files div {
      color: #fff;
      background: #584ED2 !important;
      border: none;
      border-radius: 10px;
      padding: 8px 15px;
      max-width: 155px !important;
      font-size: 12px;
      font-weight: 500;
      /* margin-top: 15px; */
  }
  .file {
        position: relative !important;
        left: 0;
      opacity: 0;
      top: 0;
      bottom: 0;
      width: 80%;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
  }
  .file-icon {
      width: 30px;
      height: 30px;
      background: #0F5EF7;
      border-radius: 50px;
      float: left;
      text-align: center;
  }
  .file-icon i {
      color: #fff;
      z-index: 9999;
      position: relative;
      font-size: 14px;
  }
  .first-file {
      width: 100%;
      float: left;
      padding-bottom: 20px;
      position: relative;
  }
  
  .file-des {
      width: calc(100% - 40px);
      float: right;
      color: #A3AFBB;
      font-size: 12px;
  }
  
  .file-des span {
      width: 100%;
      float: left;
      color: #011C4B;
  }
  
  .general-tab .column-card {
      flex-direction: column;
  }
  
  .first-file:before {
      position: absolute;
      bottom: 0;
      width: 3px;
      height: 100%;
      background: var(--bs-primary) !important;
      content: "";
      left: 25px;
  }
  
  .first-file:last-child:before {
      background: none;
  }
  
  .img_users_fix_size{
      height: 60px !important;
      max-width: 60px !important;
  }
  
  .h-44{
      height:44px;
  }
  
  .min-296{
      min-height: 296px;
  }
  
  .img_setting {
      filter: drop-shadow(2px 3px 7px #011c4b);
  }
  
  .active_color{
      border: 2px solid #000 !important;
  }
  
  .min-250{
      min-height: 250px !important;
      max-height: 250px !important; 
  }
  
  
  /* plan card */
  
  .plan_card {
      width: 25%;
      float: left;
  }
  .plan_card .card-body {
      min-height: 412px;
  }
  .drp-language .dropdown-toggle{
      color: #525B69;
      display: inline-flex;
      align-items: center;
      padding: 0.6rem 0.7rem;
      margin: 0 7.5px;
      border-radius: 4px;
      position: relative;
      font-weight: 500;
      border-radius: 12px;
      border: 1px solid rgba(206, 206, 206, 0.2);
  }
  
  .res{
      overflow: auto;
  }
  
  @media only screen and (max-width: 1700px) {
      .plan_card {
          width: 33.33%;
          float: left;
      }
  }
  
  @media only screen and (max-width: 1440px) {
      .plan_card {
          width: 33.33%;
          float: left;
      }
  }
  
  @media only screen and (max-width: 1366px) {
      .plan_card {
          width: 50%;
          float: left;
      }
  }
  
  @media only screen and (max-width: 1199px) {
      .plan_card {
          width: 50%;
          float: left;
      }
  }
  
  @media only screen and (max-width: 991px) {
      .plan_card {
          width: 100%;
          float: left;
      }
  }
  
  .dash-content::-webkit-scrollbar {
     display: none;
    }
    
  .log{
      margin-top: 15px;
  }  